@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <section >
				<h2>New Works</h2>
				<div class="new_works"> 
					<div class="image_container">
						<img src="../img/Jesus.jpg" alt="By The Sea of Galilee">
						<p><cite>Jesus By The Sea Of Galilee</cite> 24" X 36"</P>
					</div>
					<div class="image_container">
						<img src="../img/TheOldWall.jpg" alt="The Old Wall">
						<p><cite>The Old Wall</cite> 24" X 20"</P>
					</div>
					<div class="image_container">
						<img src="../img/BlueCabin.jpg" alt="Blue Cabin">
						<p><cite>Blue Cabin</cite> 12" X 24"</P>
					</div>
				</div>
			</section>
</div>
